pkg/*
doc/*
coverage/*
examples/kazoo/**/*.o
examples/kazoo/**/*.so

*.tbl

.yardoc/*

*.gem

Gemfile.lock
kalkin.automata

semantics/builddate.tex
semantics/kalkin-semantics.aux
semantics/kalkin-semantics.log
semantics/kalkin-semantics.pdf
