pkg/*
doc/*
coverage/*
examples/kazoo/**/*.o
examples/kazoo/**/*.so

*.tbl

.yardoc/*

*.gem

Gemfile.lock
kalkin.automata

formalisms/semantics/builddate.tex
formalisms/semantics/kalkin-semantics.aux
formalisms/semantics/kalkin-semantics.log
formalisms/semantics/kalkin-semantics.pdf
